<h1>Search Songs</h1>
<% if @playlist == nil %>

  <form action="/songs" method="POST">
    <label> Search Song:</label>
    <input type="text" name="song[name]" id="song_name">
    <input type="submit" value="Search song">
  </form>

<% else %>

<form action="/songs" method="POST">
  <label>Search Song:</label>
  <input type="text" name="song[name]" id="song_name">
  <input type="hidden" name="playlist[id]" value="<%= @playlist.id %>">
  <input type="submit" value="Search song">
</form>

<% end %>
